.menu
{
    color: white;
    background-color: #28666E;

        margin-bottom: 0; /* Or reduce the value */
        padding-bottom: 0; /* Or reduce the value */
}


@media(max-width: 800px)
{
    li{
        display: hidden;
    }
}
